{% load staticfiles %}
<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>

    <form method="post" action="">
            {% if inicia_captura %}
                <img src="{% url 'video:live' %}" >

                <center><a href="{% url 'video:detener' %}" class="btn btn-primary">Detener captura</a></center>
            {% else %}
                <center><a href="{% url 'video:inicia' %}" class="btn btn-primary">Iniciar captura</a></center>
                {% if imagen_capturada is not None  %}
                  <img src="data:image/jpeg;charset=utf-8;base64,  {{imagen_capturada}}" ></img>
                {% endif %} 
            {% endif %} 
    </form>
  </body>
</html>